<p-table [columns]="cols" [value]="cars" [paginator]="true" [rows]="8">
  <ng-template pTemplate="header" let-columns>
    
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th>Aksi</th>
    </tr>
    
  </ng-template>
  
  <ng-template pTemplate="body" let-rowData let-i="rowIndex" let-columns="columns">
    
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td>
        <button type="button" pButton (click)="edit(rowData)" label="Edit"></button>&nbsp;
        <button type="button" pButton class="ui-button-raised ui-button-danger" (click)="delete(i)" label="Delete"></button>
      </td>
    </tr>

  </ng-template>

  <ng-template pTemplate="summary" let-rowData>

    <div style="text-align:left">
      <button type="button" pButton icon="pi pi-plus" (click)="display()" label="Add"></button>      
    </div>

  </ng-template>

</p-table>