<p-dialog header="Car Details" [(visible)]="display" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
  <div>
    <form [formGroup]="formInput">
      
      
        Vin : <BR>
          <input type="text" pInputText formControlName="vin" size="30" placeholder="input Vin" appValidator >
          <div style="color: red" *ngIf="!formInput.controls['vin'].valid&&formInput.controls['vin'].dirty&&formInput.controls['vin']">
              Not Null
            </div><br>        
      
        <br>
        
        
          Brand : <BR>
            <input type="text" pInputText formControlName="brand" size="30" placeholder="input Brand" appValidator >
            <div style="color: red" *ngIf="!formInput.controls['brand'].valid&&formInput.controls['brand'].dirty&&formInput.controls['brand']">
                Not Null
              </div><br>
          
          <br>
          
            Year : <br>
            
            <p-radioButton formControlName="year" name='thn' value="1985" label="1985" ></p-radioButton>&nbsp;
            <p-radioButton formControlName="year" name='thn' value="1990" label="1990" ></p-radioButton>&nbsp;
            <p-radioButton formControlName="year" name='thn' value="1995" label="1995" ></p-radioButton>&nbsp;
            <p-radioButton formControlName="year" name='thn' value="2000" label="2000" ></p-radioButton><br>
            <p-radioButton formControlName="year" name='thn' value="2005" label="2005" ></p-radioButton>&nbsp;
            <p-radioButton formControlName="year" name='thn' value="2010" label="2010" ></p-radioButton>&nbsp;
            <p-radioButton formControlName="year" name='thn' value="2015" label="2015" ></p-radioButton>&nbsp;
            <p-radioButton formControlName="year" name='thn' value="2020" label="2020" ></p-radioButton>
          
          <br>
         
            Color : <br>
            <input type="text" pInputText placeholder="input Color" size="30" appValidator formControlName="color">
            <div style="color: red" *ngIf="!formInput.controls['color'].valid&&formInput.controls['color'].dirty&&formInput.controls['color']">
                Not Null
              </div><br>
          
          <br>
          Type : <br>
          <p-dropdown [options]="typez" [style]="{'width':'240px','height':'30px'}" editable="true" formControlName="type" placeholder="Select Type"></p-dropdown>
          <br>
          
            Price : <br>
            <input type="text" pInputText placeholder="input Price" size="30" formControlName="price">
          
        </form>
      </div>
      <br>
      <button type="button" pButton icon="pi pi-check" (click)="save()"  [disabled]="formInput.invalid" label="Save"></button>
    </p-dialog>
    